<!DOCTYPE html>
<html>
<head>
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <!-- Encabezado -->
  <header>
    <a href="/" class="logo">CRUD CONTRATOS</a>
    <nav class="menu">
      <a href="/" class="menu-item"><i class="fas fa-home"></i> Inicio</a>
      <a href="/usuarios/registrar" class="menu-item"><i class="fas fa-user-plus"></i> Crear cuenta</a>
    </nav>
  </header>

  <!-- Formulario de inicio de sesión -->
  <div class="form-container">
    <h1 class="form-title">Iniciar sesión</h1>
    <form action="/usuarios/login" method="POST">
      <label for="cc"><i class="fas fa-id-card"></i> CC:</label>
      <input type="text" id="cc" name="cc" required><br>
      <label for="pass"><i class="fas fa-lock"></i> Contraseña:</label>
      <input type="password" id="pass" name="pass" required><br>
      <button type="submit"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>
    </form>
    <div class="register-link">
      ¿No tienes una cuenta? <a href="/usuarios/registrar">Regístrate</a>
    </div>
  </div>

</body>
</html>
